* {
    margin: 0;
    padding: 0;
}
.main {
    background-image: url("assets/Images/bg.jpg");
    height: 80vh;
    background-size: max(1200px, 100vw) ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    top: 0;
    position: absolute;
}
nav {
    justify-content: space-between;
    max-width: 80vw;
    display: flex;
    margin: auto;
    align-items: center;
    height: 62px;
}