.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  cursor: pointer;
  word-break: break-word;
    
}