
.card-item {
  position: relative;
  border-radius: 8px;
  min-height: 100px;
  max-height: 673px;
  padding: 16px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.ellipsis-vertical {
  position: absolute;
  bottom: 8px;
  right: 8px;
  cursor: pointer;
}
.ellipsis-vertical:hover {
  transform: scale(1.1);
}

.card-item p {
  display: -webkit-box;
  -webkit-line-clamp: 17;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

@media (max-width: 594px) {
  .card-container {
    width: 100%;
    grid-template-columns: 1fr    
  }
}

