.note-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.note-card {
  position: relative;
  width: 598px;
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: text;
  position: relative;
}

.note-title {
  width: 100%;
  border: none;
  font-size: 16px;
  outline: none;
  margin-bottom: 12px;
}

.note-textarea {
  width: 100%;
  border: none;
  font-size: 14px;
  outline: none;
  resize: none;
  margin-bottom: 0;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
}

.note-actions button {
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.note-actions button:hover {
  background-color: #e9eaea;
}

.pin {
  position: absolute;
  top: 12px;
  right: 12px;
  stroke: #202124;
  cursor: pointer;
  opacity: 0.5;
}

.three-icons {
    position: absolute; 
    top: 12px;           
    right: 12px;
    display: flex;
    gap: 25px;
    stroke: #202124;
    cursor: pointer;
    opacity: 0.5;
}

.palette {
  position: absolute;
  bottom: 12px;
  left: 12px;
  stroke: #202124;
  cursor: pointer;
  opacity: 0.7;
  /* position: relative; 
  cursor: pointer;
  opacity: 0.7; */
}

.color-popup {
  position: absolute;
  top: 155px;
  left: 25px;
  display: flex;
  gap: 6px;
  background: #fafafa;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 10;
  overflow: hidden;
}

.color-dot {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.color-dot:hover {
  transform: scale(1.1);
  border: 1px solid #000000;
}