.root {
    width: 852px;
    height: 400px;
    border: 1px solid black;
    background-color: azure;
    padding: 50px;
    display: flex;
    margin-bottom: 50px;
} 
.container {
    height: 133px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}

.content {
    width: 198px;
    height: 133px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FF1010;
}


.root2 {
    border: 1px solid black;
    width: 852px;
    height: 400px;
    background-color: azure;
    padding: 50px;
    display: grid;
    justify-content: center;
    margin-bottom: 100px;
    
}

.container2 {
    height: 133px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.content2 {
    width: 198px;
    height: 133px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FF1010;
} 