.root {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    background-color: rgb(69, 206, 206);
    padding: 50px;
    display: flex;
    margin-bottom: 50px;
} 
.container {
    height: 133px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.content {
    width: 198px;
    height: 133px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FF1010;
}


.root2 {
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    background-color: rgb(69, 206, 206);
    padding: 50px;
    display: grid;
    
}

.container2 {

    height: 133px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(198px, 1fr));
    gap: 20px;

}

.content2 {
    width: 198px;
    height: 133px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FF1010;
} 