/* div {
    height: 250px;
    width: 500px;
    background-color: palevioletred;
    border-width: 5px;
    border-style: dashed;
    border-color: black;
    border-top-color: blueviolet;
    border-radius: 30px;
    padding-top: 15px;
    margin: 25px;
    
}

h1 {
    border-width: 2px;
    border-style: groove;
    border-color: brown;
}
button {
    border: 2px solid rgb(3, 184, 255);
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgb(134, 217, 255);
    color: black;
    cursor: pointer;
} */



/* #outer {
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.inner {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}
div[id = "red"] {
    background-color: red;
}
div[id = "yellow"] {
    background-color: yellow;
}
div[id = "green"] {
    background-color: green;
} */



/* h2 {
    display: inline;
    background-color: blanchedalmond;
} */

/* 
div {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
} */




 .card {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(21, 21, 233, 0.788);
 }

 .desc {
    width: 100%;
    padding: 10px;
    color:  rgb(0, 0, 0);
    text-align: center;
    border-radius: 0px 0px 5px 5px;
 }
 img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
 }
 .card:hover {
    box-shadow: 5px 5px 20px rgba(52, 52, 180, 0.9);
    transform: scale(1.02);
 }

 .card2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
 }





