.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.card1, .card2{
    width: 250px;
    height: 200px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.card2 {
    border-radius: 0 25px 25px 0;
}



.card1 img, .card2 img, .card3 img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.card3 img {
    border-radius: 0 25px 25px 0;
}